@page
@model GalaPage_2022.Pages.Contact.DescargaGratisModel
@{
}
<div class="bg-dark text-white padding60">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="main-title mt-5 text-center">Amigo Restaurante</h3>
                <h3 class="main-subtitle">por Gala Sistemas</h3>
                <p class="mt-5">Comienza a usar Amigo Restaurante, el Primer Mes es Gratis, te acompañamos en la instalación y 
                    puesta a punto del sistema, con capacitación y soporte para que conozcas cada aspecto del sistema y 
                    como te puede ayuar en la gestión de tu negocio.
                </p>
                <p>Tambien te configuramos la Facturación en Línea, si así lo quieres, para que descubras lo fácil que es 
                    llevar la facturación en tu negocio.
                </p>
                <div class="text-center m-5">
                    <button class="btn btn-lg btn-success shadow">
                        <i class="fa fa-whatsapp fs-2" aria-hidden="true"></i>
                        <span class="px-3">Agiliza tu Instalación</span>
                    </button>
                </div>
            </div>
            <div class="col-md-7">
                <h3 class="m-5 text-center">Prueba Amigo Restaurante Un Mes Gratis</h3>
                <form class="form-floating text-black" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="correoCliente" placeholder="name@example.com">
                        <label class="text-muted" for="correoCliente">Dirección de Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="telefonoCliente" placeholder="Teléfono">
                        <label class="text-muted" for="telefonoCliente">Teléfono de Contacto</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nombreDelNegocio" placeholder="Nombre del Negocio">
                        <label class="text-muted" for="nombreDelNegocio">Nombre del Negocio</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg btn-block" type="submit" >Continuar</button>
                    </div>
                    <p class="lead fs-6 text-muted mt-3">
                        Al dar clic en Continuar, aceptarás las condiciones del <a href="#">acuerdo de usuario</a> y
                        nos darás permiso para procesar tus <a href="#">datos personales</a>
                    </p>
                </form>
                <p>El tiempo estimado de la instalación es de una a dos horas, dependiendo de la conexión a internet.</p>
                <p>Importante contar con el programa <a href="https://download.teamviewer.com/full?src=cookie-banner">TeamViewer</a> instalado, para por dar soporte y capacitación. 
                    <a href="https://download.teamviewer.com/full?src=cookie-banner">Descargar Team Viewer</a> </p>
            </div>
        </div>
    </div>
</div>