@page
@model GalaPage_2022.Pages.AboutUsModel
@{
    ViewData["Title"] = "Acerca de Nosotros";
}
<div class="container">
    <p class="mt-5">
        Gala Sistemas fue fundada en 1988 por Gabriel Agustín Velázquez Bustamante, con la visión de proporcionar 
        Asesoría a las Empresas en la transición de implementar sistemas computacionales. Siempre y cuando existieran 
        los sistemas, tenía la idea de implementarlos. Y si no existían habría que desarrollarlos. Con el tiempo esto 
        fue cambiando debido a la pobre programación de los sistemas existentes. Estas empresas pusieron su empeño en 
        sacar sistemas que rapidamente se pudieran poner al alcance del mercado y no en desarrollarlos lo suficientemente 
        confiables y estables.
    </p>
    <p>
        Debido a esto, Gala Sistemas se vio en la necesidad de concentrar sus esfuerzos en desarrollar sistemas enfocados 
        a ciertos mercados específicos, y asi poder desarrollar sistemas que pudieran proporcionar confiabilidad y 
        estabilidad. Sin importarle el tiempo que llevaría tal tarea sino a la perfección del sistema y su calidad de 
        arquitectura. Durante los primero cinco años Gala Sistemas se dedicó a la asesoría, haciendo algunos sistemas, 
        para la CANIRAC y para la Industria Embotelladora, asi como para Copropiedad Rodríguez (empresa dedicada a los 
        bienes raíces). Y atendiendo clientes como La Embotelladora La Victoria (Coca Cola), Kyocera (maquiladora) y otras.
    </p>
    <p>
        En 1995 empieza el desarrollo para una compañía de seguros llamada PIA, durante los siguientes 4 años se 
        implementó un sistema que controlaba todas las pólizas generadas por sus agentes y a su vez un sistema que le 
        permitía a los agentes llevar el control de sus pólizas. Durante este periodo se estaba trabajando en forma 
        paralela en el desarrollo de sistemas para Hoteles, Restaurantes ,Venta de Boletos por Internet, Control de 
        Estacionamientos, Sistema para Dentistas, Gasolineras, Gimnasios y Puntos de Venta. En el año 2000 saca su 
        primera versión en en la plataforma Windows para Hoteles y Restaurantes.
    </p>
    <p>
        En el año 2006 implementa sus sistemas en Pollo Feliz de Tucson Arizona. Teniendo a la fecha un importante 
        número de clientes en diferentes Ciudades de México y Estados Unidos. A la fecha, siguen trabajando con los 
        sistemas desarrollados por Gala Sistemas SA de CV.
    </p>
</div>