@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model GalaPage_2022.Pages.AboutUsModel
@{
    ViewData["Title"] = "Acerca de Nosotros";
}
<div class="container">
    <p class="mt-5">@localizer["txt01"]</p>
    <p>@localizer["txt02"]</p>
    <p>@localizer["txt03"]</p>
    <p>@localizer["txt04"]</p>
</div>