@page
@model GalaPage_2022.Pages.ServicesModel
@{
    ViewData["Title"] = "Planes y Precios";
}
<div class="costo-planes">
    <h2 class="text-center display-5 p-5">Planes de Servicios para Amigo Restaurante</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="precios-card precios-card-blue">
                    <h3 class="text-center mb-5">Renta</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent">Factura Digital 4.0</li>
                        <li class="list-group-item bg-transparent">Sistema en la Nube, para acceso remoto*</li>
                        <li class="list-group-item bg-transparent">Control de Reparto</li>
                        <li class="list-group-item bg-transparent">Instalación en todos los equipos que necesites</li>
                        <li class="list-group-item bg-transparent">Actualizaciones sobre correcciones</li>
                        <li class="list-group-item bg-transparent">Soporte y Capacitación (Dos primeros Meses)</li>
                    </ul>
                    <p class="text-center fs-2 font-monospace m-3">$599</p>
                    <div class="text-center mb-5">
                        <button class="btn btn-primary">Suscribirme</button>
                    </div>
                    <p class="text-muted precios-card-obs">*Necesario servicio de internet con posibilidad de configuración de puertos.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="precios-card precios-card-green">
                    <h3 class="text-center mb-5">Póliza Estandar</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent">Actualización sobre nuevas versiones</li>
                        <li class="list-group-item bg-transparent">Re instalaciones sin costos ocultos</li>
                        <li class="list-group-item bg-transparent">Soporte y Capacitación 24/7</li>
                        <li class="list-group-item bg-transparent">Factura en Línea 3.3 y 4.0</li>
                    </ul>
                    <p class="text-center fs-2 font-monospace m-3">$1,099</p>
                    <div class="text-center mb-5">
                        <button class="btn btn-primary">Suscribirme</button>
                    </div>
                    <p class="text-muted precios-card-obs">Un correo institucional, para envio de reportes y facturas.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="precios-card precios-card-purple">
                    <h3 class="text-center mb-5">Póliza Completa</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent">Reportes en Aplicación</li>
                        <li class="list-group-item bg-transparent">Sincronización de usuarios</li>
                        <li class="list-group-item bg-transparent">Aplicación Android para diferentes procesos
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-transparent">Cancelaciones</li>
                                <li class="list-group-item bg-transparent">Reportes</li>
                            </ul>
                        </li>
                        <li class="list-group-item bg-transparent">Soporte y Capacitación 24/7</li>
                        <li class="list-group-item bg-transparent">Factura en Línea 3.3 y 4.0</li>
                    </ul>
                    <p class="text-center fs-2 font-monospace m-3">$1,998</p>
                    <div class="text-center mb-5">
                        <button class="btn btn-primary">Suscribirme</button>
                    </div>
                    <p class="text-muted precios-card-obs">Un correo institucional, para envio de reportes y facturas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container padding60 ">
        <h5 class="mt-5">Adquiere uno de los planes que tenemos para ti. Aprovecha cada uno de ellos según tus necesidades.</h5>
        <p>Tienes duda de cual elegir, nosotros te asesoramos, permitenos conocer tu negocio y ofrecerte una buena solución para tus necesidades.</p>
    </div>
</div>