@page
@model GalaPage_2022.Pages.Products.RestaurantModel
@{
    ViewData["Title"] = "Restaurante";
}
<div class="container margin60">
    <!-- Sistema Restaurante -->
    <div class="row">
        <div class="col-md-8">
            <h3 class="main-title text-center">Amigo Restaurante</h3>
            <h4 class="main-subtitle">Sistema Gestor de Restaurantes</h4>
            <p class="lead">Con Amigo Restaurante no solo llevas la venta de tu negocio, también controlas otros aspectos como
                Costos, Inventarios, Producción, Pronósticos de Compras y Ventas, Ventas por la Página Web, Facturación tradicional 
                y en línea y más...
            </p>
            <div class="row my-5">
                <div class="col-6">
                    @*<a class="btn btn-outline-primary shadow" asp-area="" asp-page="/Contact/DescargaGratis">Descarga 1 Mes Gratis</a>*@
                </div>
                <div class="col-6 d-grid gap-3">
                    <a class="btn btn-warning btn-block shadow" asp-area="" asp-page="/Contact/Contact">Demostración</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row justify-content-center">
                <img class="w-75" src="~/images/PantallaRestaurante.png" alt="Imagen Software Restaurante"/>
            </div>
        </div>
    </div>
    <!-- Información de Restaurante -->
    <div class="row my-5">
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-primary bg-opacity-50">
                    Inventarios
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">Control de Inventarios dinámico y configurable.</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">Inventarios Diarios</li>
                        <li class="list-group-item text-muted">Inventarios Semanales</li>
                        <li class="list-group-item text-muted">Inventarios Mensuales</li>
                        <li class="list-group-item text-muted">Inventarios Ciegos</li>
                        <li class="list-group-item text-muted">Envio de resultados por eMail</li>
                        <li class="list-group-item text-muted">Permisos diferentes, para configurar los roles de usuarios</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-success bg-opacity-50">
                    Platillos
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">Controla Inventarios desde los Platillos y sus Recetas.</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">Precios por Sección</li>
                        <li class="list-group-item text-muted">Proceso para calcular nuevos precios</li>
                        <li class="list-group-item text-muted">Combos o Platillos</li>
                        <li class="list-group-item text-muted">Imprime en diferentes impresoras (Barra, Cocina)</li>
                        <li class="list-group-item text-muted">Muestra las ordenes por Pantalla en Cocina</li>
                        <li class="list-group-item text-muted">Configura los platillos que vas a vender por eCommerce</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-primary bg-opacity-50">
                    Pronósticos
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">Ayudate de las herramientas estadísticas de tu venta</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">Plan de Producción</li>
                        <li class="list-group-item text-muted">Pronósticos de Compras</li>
                        <li class="list-group-item text-muted">Pronósticos de Ventas</li>
                        <li class="list-group-item text-muted">Días Especiales (festivos), para control de venta</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-success bg-opacity-50">
                    Permisos
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">Todo el Sistema AmigoRestaurante se encuentra bajo permisos</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">Asigna solo los permisos que necesite el usuario</li>
                        <li class="list-group-item text-muted">Crea modelos, para no repetir permisos</li>
                        <li class="list-group-item text-muted">Asigna Permsios a los Modelos, para que puedan usar el sistema</li>
                        <li class="list-group-item text-muted">Todo el sistema esta bajo permisos.</li>
                        <li class="list-group-item text-muted">La mayor parte de Pantallas, Botones, Reportes, estan bajo permisos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--  -->
<div class="bg-black opacity-75 text-white py-5">
    <div class="container">
        <h3 class="display-6 text-center">Usa Mejor Tus Materias Primas</h3>
        <div class="row my-5">
            <div class="col-md-8 mb-3">
                <h3 class="text-center">Control de Mermas</h3>
                <p>Con Amigo Restaurante puedes llevar un control de Mermas que te permita ahorrar en Materias Primas, reduciendo
                    un posible 10% o 12% de merma a un 1.5 o 2% como estandar permitido.
                </p>
                <p>Aplica los siguientes procesos y el resultado te sorprenderá</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted bg-black opacity-75">Configura como Inventario Diario solo productos críticos</li>
                    <li class="list-group-item text-muted bg-black opacity-75">Aplica el Inventario Ciego al Momento del Corte de Caja</li>
                    <li class="list-group-item text-muted bg-black opacity-75">La merma generada solo puede ser confirmada por un usuario que tenga la contraseña autorizada</li>
                    <li class="list-group-item text-muted bg-black opacity-75">Genera Producción es de Productos Teminados, para que controles la utilización de la Materia Prima en Cocina</li>
                    <li class="list-group-item text-muted bg-black opacity-75">Monitorea el reporte de Consumos, para confirmar que tus recetas sean correctas</li>
                    <li class="list-group-item text-muted bg-black opacity-75">Revisa periodicamente el reporte de Costos, para confirmar que tu precio del platillo corresponde al costo del mismo</li>
                </ul>
            </div>
            <div class="col-md-4 m-auto">
                <img class="img-thumbnail rounded" src="/images/ControlMermas2.png" />
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-success shadow" href="https://api.whatsapp.com/send?phone=5216632073451" target="_blank">
                <i class="fa fa-whatsapp fs-2" aria-hidden="true"></i>
                <span class="mx-3">Te Podemos Asesorar</span>
            </a>
        </div>
    </div>
</div>
<div class="container py-3">
    <div class="row margin60">
        <h2 class="text-center display-4 mb-5">Tu Restaurante en la Nube</h2>
        <div class="col-md-4">
            <img class="img-thumbnail rounded" src="/images/SistemaEnLaNube.png"/>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 mt-5">
            <h3 class="text-center">Saca provecho de la tecnología</h3>
            <p>Accede a tu restaurante desde cualquier parte, para que configures lo que necesites y saques
                la información que desees en cualquier momento
            </p>
            <p></p>
        </div>
    </div>
</div>
<div class="bg-gray25 py-5">
    <div class="container">
        <h3 class="text-center display-6">Configura Tus Inventarios Según Lo Necesites</h3>
        <div class="row">
            <div class="col-md-6 my-5">
                <h4 class="text-center">Gestiona el levantamiento de los inventarios de varias formas</h4>
                <p>Puedes configurar las materias primas de mayor relevancia en el Inventario Diario. Así tendrás control
                    de las Materias Primas más importantes todos los días.
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted bg-transparent">Recibe el resultado del inventario en tu correo.</li>
                    <li class="list-group-item text-muted bg-transparent">Al corte has levantamiendo de los productos críticos, diarios</li>
                    <li class="list-group-item text-muted bg-transparent">Configura las Materias Primas segun su relevancia: Diario, Semanal, Mensual</li>
                    <li class="list-group-item text-muted bg-transparent">Activa los inventarios ciegos, para un mejor control</li>
                    <li class="list-group-item text-muted bg-transparent">Gestion los traspasos entre los diferentes almacenes para un mejor resultado</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 my-auto">
                <img class="img-thumbnail rounded" src="~/images/Inventarios.png"/>
            </div>
        </div>
    </div>
</div>
<div class="container padding60">
    <h3 class="text-center display-6 mb-5">Otros Procesos y Configuraciones</h3>
    <div class="row mt-2">
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">Reportes por Correo</h4>
                <div class="card-body">
                    <p class="lead">Recibe en tu correo los Cortes, Reportes de Venta e Inventarios capturados de la sucursal.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">Pronósticos de Ventas</h4>
                <div class="card-body">
                    <p class="lead">Aprovecha la información del historico de tu venta para programar tu día, con las materias primas necesarias para la venta de tu día a día</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">Extras / Observaciones</h4>
                <div class="card-body">
                    <p class="lead">Configura tu platillo según la petición de tu cliente, dale flexibilidad a la entrega de tus platillos.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">Producción</h4>
                <div class="card-body">
                    <p class="lead">Controla tus materias primas en proceso, y aprovecha al máximo tus recursos. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">Factura Digital</h4>
                <div class="card-body">
                    <p class="lead">Genera tus facturas 3.3 y 4.0, o usa el servicio de Facturación en Línea, por medio de un código QR, para que tu cliente facture desde una Página Web</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">Control de Reparto</h4>
                <div class="card-body">
                    <p class="lead">Si cuentas con servicio de reparto, puedes llevar la liquidación de cada repartidor. Asignando los servicios al Repartidor que entrega la mercancía.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">Sistema en la Nube</h4>
                <div class="card-body">
                    <p class="lead">Conecta a tu restaurante desde cualquier parte, revisa reportes, ajusta precios, da de alta nuevos platillos sin estar en el restaurante</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">Soporte y Capacitación</h4>
                <div class="card-body">
                    <p class="lead">Te acompañamos todos los día del año, brindandote tips y ayuda sobre el sistema.</p>
                </div>
            </div>
        </div>
    </div>
</div>
