@page
@model GalaPage_2022.Pages.Products.SalesWebPageModel
@{
    ViewData["Title"] = "eCommerce";
}
<div class="bg-dark">
    <div class="container padding60">
        <div class="col-8 mx-auto">
            <h2 class="main-title text-light">Amigo Restaurante ahora esta en la Web</h2>
            <p class="lead text-light">Ahora puedes publicar los platillos de tu Sistema Amigo Restaurante en la Pagina Web o Aplicación 
                Web de tu negocio, recibe notificaciones de los pedidos que entran por la Aplicación.</p>
        </div>
    </div>
</div>
<div class="bg-gray25">
    <div class="container padding60">
        <h3 class="main-subtitle text-center text-capitalize">Amigo Entregas, Aplicación Web.</h3>
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/PantallaWebPage01.png" class="rounded mx-auto w-50 margin60" alt="Aplicación Web" />
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h3>Características Amigo Entrega</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Publica solo los platillos que decidas</li>
                        <li class="list-group-item">Recibe el Total de tu Venta*</li>
                        <li class="list-group-item">Entrega en Mostrador o Envía a Domicilio</li>
                        <li class="list-group-item">Recibe Notificaciones en el Local y en el Celular</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-mapa">
    <div class="container padding100">
        <h3 class="display-6 text-center mb-5">Amigo Entrega. EL Portal Web de tu Restaurante.</h3>
       <div class="row">
           <div class="col-md-7">
                <p>Ingresa al e-Commerce con el Portal Web Amigo Entrega, lo gestionas desde el Software Sistema Amigo Restaurante y un programa 
                    especial que colocamos en tu maquina de Administración.
                </p>
                <div>
                    <h3>Que controlas en el Portal</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-gray25">Publica las Fotos de Tu Carrousel de Fotos de la Pagina Principal</li>
                        <li class="list-group-item bg-gray25">Coloca un Icono de tu Restaurante</li>
                        <li class="list-group-item bg-gray25">Publica promociones de tu Restaurante (5 máximo)</li>
                        <li class="list-group-item bg-gray25">Las ubicaciones de los Restaurantes que tendran el Servicio Web</li>
                        <li class="list-group-item bg-gray25">Asigna un nombre para cada Platillos que Publicas</li>
                        <li class="list-group-item bg-gray25">Define el precio de venta para la Página</li>
                        <li class="list-group-item bg-gray25">Publica una Foto para cada Platillo</li>
                        <li class="list-group-item bg-gray25">Crea una cuenta con Stripe, para recibir directamente tus ventas, sin intermediarios.</li>
                    </ul>
                </div>
           </div>
           <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img class="w-50 shadow" src="~/images/CelularWebPageUbicacion.webp" alt="Ubicación Celular" />
           </div>
       </div>
    </div>
</div>
<div class="bg-light padding100">
    <div class="container">

    </div>
</div>